.down-drop.dark {
  background-color:	#242526;
  border: 1px solid #2f3031;
  border-radius: 6px;
  box-shadow: -4px 6px 4px #151516;
  color: #e4e6ea;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  height: 470px;
  margin: auto;
  padding: 6px 8px 6px 8px;
  position: absolute;
  right: 8px;
  top: 46px;
  width: 340px;
  z-index: 999;

  .down-drop.dark > span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 2px 0 10px 8px;
  }

  div.profile-link.dark {
    margin: 2px 0 8px 0;
  }

  div:hover, div.profile-link.dark:hover {
    background-color: #3a3b3c;
    cursor: pointer;

    div.icon-circle.dark {
      background-color:	#4e4f50;
    }
  }

  span.name {
    font-size: 18px;
    line-height: 2.5;
  }

  span.see-profile {
    color: #929497;
    font-size: 15px;
    font-weight: 300;
    line-height: 0;
  }

  // change to dynamic -- pfp of currentUser
  .fb-pfp {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    object-fit: cover;
  }

  div.t2 > span:last-child {
    color: #929497;
    font-size: 12px;
    // padding: 0;
  }

  div.t2 > span:first-child {
    color: #dadce0;
    font-size: 15px;
    // padding-bottom: 4px;
  }

  div.cog {
    margin-top: 10px;
  }

  div.feedback.dark {
    margin: 8px 0 8px 0;
  }

  div.line.dark {
    border-top: 1px solid	#3e4042;
    margin: auto;
    padding: 0;
    width: 326px;
  }

  span.centered {
    line-height: 2.5;
  }

  .icon-circle.dark {
    background-color:	#3a3b3c;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    position: relative;

    .fa-comment-alt.dark, .fa-cog.dark, .fa-question-circle, .fa-moon.dark, .fa-arrow-circle-left.dark, .fa-sign-out-alt.dark {
      color: #a7abaf;
      position: absolute;
    }
  }

  .fa-comment-alt {
    font-size: 20px;
    top: 11px;
    left: 9px;
  }

  .fa-exclamation.dark {
    color: #47494a;
    font-size: 12px;
    position: absolute;
    top: 13px;
    right: 17px;
  }

  .fa-cog, .fa-question-circle, .fa-moon, .fa-arrow-circle-left, .fa-sign-out-alt {
    font-size: 22px;
    top: 8px; 
    left: 8px;
  }

  // FIX THIS
  #copyright {
    color: #929497;
    font-size: 12px;
    text-align: left;
  }

  #copyright:hover {
    background-color: #242526;
    text-decoration: underline;
  }
}


.down-drop.dark > div, div.profile-link.dark {
  border-radius: 10px;
  display: flex;
  padding: 6px 0 6px 8px;

  div.text {
    color: #e4e6ea;
    display: flex;
    flex-direction: column;

    span {
      padding: 2px 0 0 14px;
      text-align: left;
    }
  }

  div.text.profile-link.dark {
    position: relative;

    span {
      display: block;
      width: 200px;
      position: absolute;
    }

    span.name {
      top: -6px;
    }

    span.see-profile {
      top: 38px;
    }
  }
}

.down-drop.dark > div.logout {
  padding: 6px 0 8px 8px;
}



/* The switch - the box around the slider */
.switch.dark {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  left: 146px;
  top: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider.dark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.dark:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 24px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.dark:checked + .slider.dark {
  background-color: #ccc;
}

input.dark:focus + .slider.dark {
  box-shadow: 0 0 1px #ccc;
}

input.dark:checked + .slider.dark:before {
  -webkit-transform: translateX(-22px);
  -ms-transform: translateX(-22px);
  transform: translateX(-22px);
}

/* Rounded sliders */
.slider.round.dark {
  border-radius: 34px;
}

.slider.round.dark:before {
  border-radius: 50%;
}