.down-drop.light {
  background-color:	#ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  box-shadow: -2px 2px 4px #cecfd2;
  color: #050505;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  height: 470px;
  margin: auto;
  padding: 6px 8px 6px 8px;
  position: absolute;
  right: 8px;
  top: 46px;
  width: 340px;
  z-index: 999;

  .down-drop.light > span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 2px 0 10px 8px;
  }
}

.down-drop.light > div, div.profile-link.light {
  border-radius: 10px;
  display: flex;
  padding: 6px 0 6px 8px;

  div.text {
    color: #050505;
    display: flex;
    flex-direction: column;

    span {
      padding: 2px 0 0 14px;
      text-align: left;
    }
  }

  div.text.profile-link.light {
    position: relative;

    span {
      display: block;
      width: 200px;
      position: absolute;
    }

    span.name {
      top: -6px;
    }

    span.see-profile {
      top: 38px;
    }
  }
}

div.profile-link.light {
  margin: 2px 0 8px 0;
}

.down-drop.light > div:hover, div.profile-link.light:hover {
  background-color: #f2f2f2;
  cursor: pointer;

  div.icon-circle.light {
    background-color:	#e4e6ea;
  }
}

span.name {
  font-size: 18px;
  line-height: 2.5;
}

span.see-profile {
  color: #686a6e;
  font-size: 15px;
  font-weight: 300;
  line-height: 0;
}

// change to dynamic -- pfp of currentUser
.fb-pfp {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  object-fit: cover;
}

div.t2 > span:last-child {
  color: #676a6d;
  font-size: 12px;
  // padding: 0;
}

div.t2 > span:first-child {
  color: #232323;
  font-size: 15px;
  padding-bottom: 4px;
}

div.cog {
  margin-top: 10px;
}

div.feedback.light {
  margin: 8px 0 8px 0;
}

div.line.light {
  border-top: 1px solid	#ced0d4;
  margin: auto;
  padding: 0;
  width: 326px;
}

span.centered {
  line-height: 2.5;
}

.icon-circle.light {
  background-color:	#e4e6ea;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  position: relative;

  .fa-comment-alt.light, .fa-cog.light, .fa-question-circle, .fa-moon.light, .fa-arrow-circle-left.light, .fa-sign-out-alt.light {
    color: #5e6771;
    position: absolute;
  }
}

.fa-comment-alt {
  font-size: 20px;
  top: 11px;
  left: 9px;
}

.fa-exclamation.light {
  color: #e4e6ea;
  font-size: 12px;
  position: absolute;
  top: 13px;
  right: 17px;
}

.fa-cog, .fa-question-circle, .fa-moon, .fa-arrow-circle-left, .fa-sign-out-alt {
  font-size: 22px;
  top: 8px; 
  left: 8px;
}

// FIX THIS
#copyright {
  color: #929497;
  font-size: 12px;
  text-align: left;
}

#copyright:hover {
  background-color: #676a6d;
  text-decoration: underline;
}


// switch box for dark/light mode
.switch.light {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  left: 146px;
  top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.light {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.light:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input.light:checked + .slider.light {
  background-color: #2196F3;
}

input.light:focus + .slider.light {
  box-shadow: 0 0 1px #2196F3;
}

input.light:checked + .slider.light:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round.light {
  border-radius: 34px;
}

.slider.round.light:before {
  border-radius: 50%;
}