section.edit-profile-modal.light {
  background-color: #ffffff;
  border-radius: 10px;
  color: #050505;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  // min-height: 1434px;
  // change back to ^ later
  min-height: 1040px;
  width: 700px;
  position: relative;
  top: 140px;
  margin: 10vh auto 8vh auto;

  div.header {
    border: 1px solid #e5e5e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
    width: 698px;
    position: relative;

    span.edit-profile {
      display: block;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 20px 0 0 0;
    }

    button.close-form {
      background-color: #ffffff;
      border: none;
      position: absolute;
      left: 640px;
      bottom: 10px;

      div.x-circle.light {
        background-color: #e4e6ea;
        border: none;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        position: relative;

        .fa-times.light {
          color: 	#606872;
          font-size: 20px;
          position: relative;
          top: 10px;
        }
      }

      div.x-circle.light:hover {
        background-color: #d8dade;
        cursor: pointer;
      }
    }
  }

  section.main {
    color: #050505;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 18px;

    div.pro-pic {
      height: 238px;
      width: 100%;

      label.edit-pfp {
        border-radius: 6px;;
        color: #2e89ff;
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 0 482px;
        padding: 10px;
      }
      
      div.pfp {
        display: flex;
        justify-content: center;
        margin: 18px 0 0 0;

        img.pfp {
          border-radius: 100%;
          height: 170px;
          width: 170px;
        }
      }
    }

    div.cv-pic {
      height: 238px;

      label.edit-cv {
        border-radius: 6px;;
        color: #2e89ff;
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 0 498px;
        padding: 10px;
      }

      div.cv {
        display: flex;
        justify-content: center;
        margin: 26px 0 0 0;

        img.cv {
          height: 186px;
          width: 500px;
          border-radius: 10px;
        }
      }
    }

    div.bio-part {
      min-height: 38px;
      margin: 18px 0 0 0;

      button.edit-bio.light {
        background-color: #ffffff;
        border-radius: 6px;
        border: none;
        color: #2e89ff;
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 0 585px;
        height: 38px;
        width: 48px;
      }

      div.bio-part {
        display: flex;
        justify-content: center;
        margin: 18px 0 0 0;

        span {
          color: #66686c;
          font-size: 16px;
          font-weight: normal;
        }
      }

      form.edit-bio.light {
        position: relative;
        bottom: 16px;

        span.bio-chars {
          color: #6e7074;
          display: block;
          font-size: 14px;
          padding: 0 0 4px 0;
          position: relative;
          left: 144px;
        }

        textarea.text-bio.light {
          background-color: #f0f2f5;
          border: 1px solid #ced0d4;
          border-radius: 6px;
          color: 	#050505;
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
          font-size: 16px;
          height: 62px;
          padding: 10px 0 0 0;
          width: 300px;
          resize: none;
          text-align: center;
        }

        textarea.text-bio:hover {
          background-color: #e4e6e9;
        }

        textarea.text-bio::placeholder {
          color: #8c8e92;
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
          font-size: 16px;
          text-align: center;
        }

        textarea.text-bio:focus {
          border: 1px solid #2e89ff;
        }

        div {
          margin: 6px 0 0 0;
          position: relative;
          left: 166px;

          span.audience {
            color: #0d0d0d;
            font-size: 15px;
            position: absolute;
            left: -162px;
            top: 8px;

            .fa-globe-americas {
              color: #1d1f23;
              font-size: 20px;
              padding: 0 4px 0 0;
            }
          }
          
          button.cxl-bio {
            background-color: #e4e6ea;
            border: none;
            border-radius: 6px;
            color: #050505;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            font-size: 15px;
            height: 38px;
            width: 74px;
          }

          button.cxl-bio:hover {
            background-color: #d8dade;
            cursor: pointer;
          }

          button.save-bio {
            background-color: #2d88ff;
            border: none;
            border-radius: 6px;
            color: white;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            font-size: 15px;
            height: 38px;
            margin: 0 0 0 4px;
            width: 58px;
          }

          button.save-bio:hover {
            background-color: #4894ff;
            cursor: pointer;
          }

          button.save-bio:disabled {
            background-color: #e4e6ea!important;
          }
          button.save-bio:disabled:hover {
            cursor: not-allowed;
          }
        }
      }
    }

    div.customize-intro {
      height: 300px;
      margin: 18px 0 0 0;

      button.intro {
        background-color: #ffffff;
        border-radius: 6px;
        border: none;
        color: #2e89ff;
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 0 418px;
        height: 38px;
        width: 48px;
      }


      button.edit-intro.cxl {
        background-color: #3a3b3c;
        border: none;
        border-radius: 6px;
        color: #050505;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        font-size: 15px;
        height: 38px;
        margin: 0 0 0 330px;
        width: 74px;
      }

      button.edit-intro.cxl:hover {
        background-color: #4e4f50!important;
        cursor: pointer;
      }

      button.edit-intro.save {
        background-color: #2d88ff;
        border: none;
        border-radius: 6px;
        color: #050505;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        font-size: 15px;
        height: 38px;
        margin: 0 0 0 4px;
        width: 58px;
      }

      button.edit-intro.save:hover {
        background-color: #4894ff!important;
        cursor: pointer;
      }

      div.intro-list {

        div.current-city, div.workplace, div.school, div.hometown, div.relationship-status {
          display: flex;
          justify-content: space-between;
          margin: 22px 0 0 0;
          font-size: 15px;

          span.intro {
            color: black;
            margin: 0 10px 0 0;
          }

          input.edit-intro {
            background-color: #3a3b3c;
            border: 1px solid #3a3b3c;
            border-radius: 6px;
            color: #ffffff;
            font-size: 16px;
            padding: 0 0 0 10px;
            height: 28px;
            width: 300px;
            margin: 0 0 -50px 0;
            position: relative;
            top: -4px;
          }

          span:first-child {
            color: #050505;
            font-weight: normal;
            position: relative;

            .fa-home.light, .fa-briefcase.light, .fa-graduation-cap.light, .fa-heartbeat.light, .fa-map-marker-alt.light  {
              color: #8b939e;
              font-size: 20px;
              margin: 0 10px 0 0;
              position: relative;
            }

            .fa-map-marker-alt.light {
              font-size: 22px;
              left: 2px;
              margin: 0 18px 0 0;
            }
            .fa-home.light, .fa-briefcase.light {
              left: 2px;
              margin: 0 14px 0 0;
            }
            .fa-heartbeat.light {
              margin: 0 14px 0 0;
            }
          }
        }
      }
    }

    div.featured {
      margin: 36px 0 0 0;
      height: 500px;
      border: 1px solid #ffffff;

      span {
        display: block;
        margin: 0 0 30px 0;
      }

      div.featured-pics {
        height: 337px;
        width: 337px;
        margin: auto;
  
        div.featured-row-1-3, div.featured-row-2-3, div.featured-row-3-3 {
          display: flex;
          margin: 0 0 8px 0;
          justify-content: space-between;
  
          div.pic-1-9, div.pic-2-9, div.pic-3-9, div.pic-4-9, div.pic-5-9, div.pic-6-9, div.pic-7-9, div.pic-8-9, div.pic-9-9 {
            display: inline-block;
            background-color: #18191a;
            border-radius: 10px;
            height: 107px;
            width: 107px;
          }
        }
      }
    }

    button.edit-prof.light {
      background-color: #e7f3ff;
      border-radius: 6px;
      border: none;
      color: #277ef3;
      font-size: 16px;
      height: 40px;
      width: 670px;
      // KEEEEEPPPP!!
      // position: relative;
      // top: 350px;
      // left: -2px;
      // maybe dont need this margin tho
      // margin: 100px 0 16px 0;
    }
  }

  button.edit-prof.light:hover {
    background-color: #dbe7f2!important;
    cursor: pointer;
  }
}

label.edit-pfp:hover, button.edit-bio.light:hover, label.edit-cv:hover, button.edit-intro:hover {
  background-color: #f2f2f2!important;
  cursor: pointer;
}