section.whole-nav.dark {
  background-color:	#242526;
  border-bottom: 1px solid #393a3b;
  box-shadow: 0 3px 2px #161718;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

section.navbar.dark {
  display: flex;
  justify-content: space-between;

  section.left-navbar {
    display: flex;
    margin: 9px 0 0 16px;
    width: 305px;

    .fb-logo:hover {
      cursor: pointer;
    }
  }
}

.fb-logo {
  height: 40px;
  border-radius: 100%;
}

.search.dark {
  color: #afb1b7;
  height: 40px;
  background-color: #3a3b3c;
  border: none;
  border-radius: 50px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 0 10px;
  padding: 0 0 0 16px;
  width: 264px;
}

input.search.dark::placeholder {
  padding: 0 0 0 10px;
  position: relative;
  left: -10px;
}

/* right-nav */
section.right-navbar {
  display: flex;
  justify-content: space-between;
  width: 305px;
  margin: 0 16px 0 0;
  
  div.right-navbar {
    button.down-arrow-circle.blue, div.plus-circle.blue, div.msg-circle.blue, div.bell-circle.blue {
      .fa-sort-down, .plus, .fa-dacebook-messenger, .fa-bell {
        color: #0088ff;
      }
    }

    div.profile.dark.blue {
      background-color: #3a3b3c;
      span {
        color: #2e89ff;
      }
    }

    div.profile, div.plus-circle, div.msg-circle, div.bell-circle, button.down-arrow-circle {
      border: none;
      margin: 10px 0 10px 0;
    }

    div.profile.dark {
      color: white;
      border-radius: 50px;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      padding: 0 4px 2px 4px;

      img.pfp {
        height: 34px;
        width: 34px;
        border-radius: 100%;
        margin: 4px 0 0 0;
        object-fit: cover;
      }

      span {
        padding: 0 6px 0 6px;
        position: relative;
        top: -10px;
      }
    }
  }
}

.msg-circle.dark, .bell-circle.dark, button.down-arrow-circle.dark, .plus-circle.dark {
  width: 42px;
  height: 42px;
  background-color: #3a3b3c;
  border-radius: 100%;
  position: relative;
}

.msg-circle.dark:hover, .bell-circle.dark:hover, button.down-arrow-circle.dark:hover, .plus-circle.dark:hover {
  background-color: #4e4f50;
  cursor: pointer;
}

div.profile.dark:hover {
  background-color: #3a3b3c;
  cursor: pointer;
}


.fa-facebook-messenger.dark {
  color: #e3e5e9;
  font-size: 22px;
  padding: 11px;
  position: absolute;
}

.fa-bell.dark {
  color: #e3e5e9;
  font-size: 20px;
  padding: 12px;
  position: absolute;
}

.fa-sort-down.dark {
  color: #e3e5e9;
  font-size: 24px;
  padding: 6px 0 0 13px;
  position: absolute;
  bottom: 13px;
  right: 13px;
}

.plus.dark {
  color: #e3e5e9;
  font-size: 35px;
  padding-left: 11px;
  position: absolute;
}

/* center nav */
.center-nav {
  display: flex;
  justify-content: space-between;
  width: 680px;
  margin: 5px 0 5px 0;
  
  .center-nav > div {
    padding: 0 4px 0 4px;
  }
}


.tv-div.dark, .users-div.dark, .game-div.dark, .store-div.dark, .house-div.dark {
  border: 1px solid transparent;
  border-radius: 8px;
  height: 50px;
  width: 116px;
  position: relative;
}

.tv-div.dark:hover, .users-div.dark:hover, .house-div.dark:hover, .game-div.dark:hover, .store-div.dark:hover {
  background-color: #3a3b3c;
  cursor: pointer;
}

.house-div.dark.blue {
  padding: 0 0 2px 0;
  border-bottom: 3px solid #2d88ff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  .fa-house {
    color: #2d88ff;
  }
}

.house-div.dark.blue:hover {
  background-color: #242526;
}

.fa-tv.dark {
  color: #b1b3b9;
  font-size: 20px;
  padding-top: 2px;
  left: 2px;
  position: relative;
  top: 2px;
  padding: 12px 44px 12px 44px;
}

.fa-play.dark {
  color: #b1b3b9;
  font-size: 8px;
  position: absolute;
  top: 6px;
  left: 12px;
  right: 8px;
  margin: 12px 44px 12px 44px;
}

.fa-store-alt.dark {
  color: #b1b3b9;
  font-size: 22px;
  margin: 12px 44px 12px 44px;
  position: relative;
  top: 1px;
}

.users-circle.dark {
  width: 24px;
  height: 24px;
  border: 2px solid #b1b3b9;
  border-radius: 100%;
  position: relative;
  bottom: 2px;
  margin: 12px 44px 12px 44px;
}

.fa-users.dark {
  color: #b1b3b9;
  font-size: 16px;
  position: absolute;
  padding-top: 4px;
  padding-left: 2px;
}

.fa-house.dark {
  color: #b1b3b9;
  font-size: 26px;
  margin: 10px 42px 10px 42px;
  position: relative;
  left: 2px;
}

.fa-delicious.dark {
  color: #b1b3b9;
  font-size: 24px;
  margin: 12px 46px 12px 46px;
  position: relative;
  left: 2px;
}

/* when selected/ active, change color to #2d88ff  - blue */