div.create-post-form-container.light {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  color: #060606;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  min-height: 495px;
  width: 500px;

  div.header {
    border-bottom: 1px solid #ebebeb;
    height: 60px;
    width: 100%;
    position: relative;

    span.create {
      display: block;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 20px 0 0 0;
    }

    button.close-form {
      background-color: #ffffff;
      border: none;
      position: absolute;
      left: 440px;
      bottom: 10px;

      div.x-circle.light {
        background-color: #e4e6ea;
        border: none;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        position: relative;

        .fa-times.light {
          color: 	#5f6771;
          font-size: 20px;
          position: relative;
          top: 10px;
        }
      }
    }

    button.close-form:hover {
      div.x-circle.light {
        background-color: #d8dade;
        cursor: pointer;
      }
    }
  }

  div.me {
    display: flex;
    margin: 10px;
    position: relative;

    img.thumbnail {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      position: relative;
      top: 2px;
    }

    div {
      margin: 0 0 0 10px;

      div {
        background-color: #e4e6ea;
        border-radius: 6px;
        cursor: pointer;
        margin: 4px 0 0 0;
        height: 25px;
        width: 95px;
        position: relative;

        span.pname {
          font-size: 15px;
          display: block;
          margin: 0 0 2px 0;
        }

        .fa-user-friends.light {
          font-size: 12px;
          position: relative;
          left: 8px;
          bottom: 1px;
        }

        span.friends {
          font-size: 13px;
          position: relative;
          left: 12px;
          bottom: 1px;
        }

        .fa-sort-down.light {
          font-size: 14px;
          position: relative;
          bottom: 3px;
          left: 4px;
        }
      }
    }
  }

  form.create-post-form {
    position: relative;
    height: 100%;

    textarea.big, textarea.small {
      border: none;
      background-color: inherit;
      color: #050505;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-size: 24px;
      font-weight: 200px;
      min-height: 226px;
      margin: 10px 18px 0 16px;
      width: 462px;
      resize: none;
    }

    textarea.small {
      font-size: 16px;
      font-weight: 200px;
      min-height: 50px;
    }

    img.preview {
      border: 1px solid #3c3d40;
      border-radius: 6px;
      height: 100%;
      margin: 24px 16px;
      width: 466px;
    }
  }

  div.add-to-post {
    border: 1px solid #d5d6da;
    border-radius: 6px;
    box-shadow: 0 2px 2px #e5e6e7;
    display: flex;
    justify-content: space-between;
    height: 56px;
    margin: auto;
    width: 468px;;

    span {
      display: block;
      padding: 19px;
      cursor: pointer;
    }

    div.icons {
      display: flex;
      margin: 10px;

      div.hover-circle.light:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }

      div.hover-circle.light {
        border-radius: 100%;
        height: 36px;
        margin: 0 0 0 4px;
        width: 36px;
        position: relative;

        .fa-video, .fa-images, .fa-user-tag, .fa-map-marker-alt, .fa-ellipsis-h {
          font-size: 18px;
          position: absolute;
        }

        .fa-video {
          color: #9d6dfc;
          left: 9px;
          top: 9px;
        }

        .fa-images {
          color: #44bd62;
          top: 8px;
          left: 8px;
        }

        .fa-user-tag {
          color: #1a76f2;
          top: 8px;
          left: 8px;
        }

        .fa-map-marker-alt {
          color: #f6543d;
          top: 9px;
          left: 11px;
        }

        .fa-ellipsis-h {
          color: #70767f;
          top: 8px;
          left: 9px;
        }
      }
    }

  }
}

div.btn-div {
  height: 55px;

  button.create-post {
    background-color:	#2d88ff;
    border: none;
    border-radius: 6px;
    display: block;
    color: white;
    height: 35px;
    margin: 16px;
    width: 468px;
  }
}

button.create-post.light:disabled {
  background-color: #e4e6ea!important;
  color: #c4c6ca!important;
}

textarea.big::placeholder {
  color: #bec2c9;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 24px;
  font-weight: 300;
}

textarea.small::placeholder {
  color: #bec2c9;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 300;
}

div.pic-text-container {
  max-height: 590px;
  margin: 0 0 16px 0;
  overflow: auto;
}