section.p-header.light {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e2e5;
  box-shadow: 0 2px 2px #e0e2e5;
  padding: 60px 0 0 0;
  height: 100%;

  div.cover-pic.light {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    height: 350px;
    margin: auto;
    position: relative;
    width: 940px;

    img.cover-pic {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 100%;
      height: 100%;
    }

    div.pfp.light {
      position: absolute;
      top: 190px;
      z-index: 0;

      img {
        border: 4px solid #ffffff;
        border-radius: 100%;
        height: 170px;
        width: 170px;
        position: relative;
        z-index: 0;
        object-fit: cover;
      }

      div.cam-circle.light {
        background-color:	#e4e6ea;
        border-radius: 100%;
        cursor: pointer;
        height: 36px;
        position: absolute;
        top: 130px;
        left: 130px;
        width: 36px;
        opacity: .4;

        .fa-camera.light {
          color: #1d1f23;
          font-size: 20px;
          position: absolute;
          top: 8px;
          left: 8px;
        }
      }

      div.cam-circle:hover {
        opacity: .6;
      }
    }

    button.light {
      background-color: #e4e6ea;
      border: none;
      border-radius: 6px;
      color: #1d1f23;
      font-size: 15px;
      height: 36px;
      width: 166px;
      position: absolute;
      right: 32px;
      bottom: 16px;
      opacity: .4;

      .fa-camera.light {
        font-size: 18px;
        padding: 0 8px 0 0;
      }
    }

    button.light:hover {
      cursor: pointer;
      opacity: .6;
    }
  }

  div.under-cover {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 878px;
    min-height: 160px;

    div.under-top {
      min-height: 100px;
      position: relative;
      text-align: center;
      width: 100%;

      span.name.light {
        color: #050505;
        display: block;
        font-size: 34px;
      }

      span.bio-span.light {
        color: #65676b;
        font-size: 16px;
        position: relative;
        top: -16px;

        button.edit {
          background:none;
          border:none;
          color: #2e89ff;
          cursor: pointer;
          display: block;
          font-size: 14px;
          margin: 0;
          padding: 0;
          position: relative;
          top: 4px;
          left: 426px;
        }

        button.add-bio {
          background:none;
          border:none;
          color: #2e89ff;
          cursor: pointer;
          display: block;
          font-size: 14px;
          margin: 0;
          padding: 0;
          position: relative;
          width: 100px;
          left: 390px;
        }

        button:hover {
          text-decoration: underline;
        }
      }

      form.bio-form.light {
        position: relative;
        bottom: 16px;

        span.bio-chars {
          color: #6e7074;
          display: block;
          font-size: 14px;
          padding: 0 0 4px 0;
          position: relative;
          left: 74px;
        }

        textarea.text-bio.light {
          background-color: #f0f2f5;
          border: 1px solid #ced0d4;
          border-radius: 6px;
          color: 	#050505;
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
          font-size: 16px;
          height: 62px;
          padding: 10px 0 0 0;
          width: 300px;
          resize: none;
          text-align: center;
        }

        textarea.text-bio:hover {
          background-color: #e4e6e9;
        }

        textarea.text-bio::placeholder {
          color: #8c8e92;
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
          font-size: 16px;
          text-align: center;
        }

        textarea.text-bio:focus {
          border: 1px solid #2e89ff;
        }

        div {
          margin: 6px 0 0 0;
          position: relative;
          left: 80px;

          span.audience {
            color: #0d0d0d;
            font-size: 15px;
            position: absolute;
            left: 208px;
            top: 8px;

            .fa-globe-americas {
              color: #1d1f23;
              font-size: 20px;
              padding: 0 4px 0 0;
            }
          }
          
          button.cxl-bio {
            background-color: #e4e6ea;
            border: none;
            border-radius: 6px;
            color: #050505;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            font-size: 15px;
            height: 38px;
            width: 74px;
          }

          button.cxl-bio.light:hover {
            background-color: #d8dade;
            cursor: pointer;
          }

          button.save-bio.light {
            background-color: #2d88ff;
            border: none;
            border-radius: 6px;
            color: white;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            font-size: 15px;
            height: 38px;
            margin: 0 0 0 4px;
            width: 58px;
          }

          button.save-bio.light:hover {
            background-color: #4894ff;
            cursor: pointer;
          }
        }
      }
    }

    div.under-bottom.light {
      border-top:  1px solid #ccced2;
      display: flex;
      justify-content: space-between;
      height: 60px;
      width: 100%;

      div.left-nav {
        display: flex;

        div {
          color: #64676b;
          cursor: pointer;
          border-radius: 6px;
          font-size: 16px;
          margin: 4px 0 4px 0;
          padding: 17px 16px 17px 16px;

          span.num-friends {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            font-weight: 300;
            padding: 0 0 0 4px;
            position: relative;
            top: 1px;
          }

          span.more {
            position: relative;

            .pi-sort-down.light {
              color: #5e6771;
              font-size: 16px;
              position: absolute;
              top: -8px;
              right: -16px;
            }
          }
        }

        div:hover {
          background-color: #f2f2f2;
        }

        div:last-child {
          padding:  17px 32px 17px 16px;
        }

        // CHANGE LATER ON!!!
        div.timeline {
          border-bottom: 3px solid #2d88ff;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          padding: 17px 16px 17px 16px;
          position: relative;
          top: 4px;
          
          span {
            position: relative;
            top: -4px;
            color: #2d88ff;
          }
        }

        div.timeline:hover {
          background-color: #ffffff!important;
        }
        // CHANGE THIS LATER
      }

      div.right-nav.light {
        display: flex;
        
        div {
          margin: 12px 8px 12px 0;

          button {
            background-color: #e4e6ea;
            border: none;
            border-radius:  6px;
            color: 	#050505;
            padding: 10px 16px 10px 16px;

            .fa-pencil-alt {
              padding: 0 8px 0 0;
            }
          }

          button.msg-user {
            position: relative;
            padding: 10px 16px 10px 34px;

            .fa-facebook-edit {
              font-size: 14px;
              position: absolute;
              top: -1px;
              left: 2px;
            }
          }

          button.add-friend {
            position: relative;
            padding: 10px 26px 10px 34px;
            .fa-user-plus {
              position: relative;
              left: -6px;
            }
          }

          button.cxl-friend {
            padding: 10px 16px 10px 24px;
            position: relative;

            .fa-user-times {
              position: relative;
              left: -6px;
            }
          }
        }

        div:hover {
          button {
            cursor: pointer;
            background-color: #d8dade;
          }
        }
      }
    }
  }
}

.fa-user-check {
  position: relative;
  left: 2px;
}


section.profile-main.light {
  background-color: #f0f2f5;
  min-height: 500px;

  div.pm-div.light {
    display: grid;
    height: 100%;
    margin: auto;
    padding: 15px 0 0 0;
    width: 878px;
    position: relative;

    div.main-left.sticky {
      position: fixed;
      top: 0;
      padding: 60px 0 0 0;
    }

    div.main-left {
      height: 100%;
      width: 360px;
      grid-column: 1;
      grid-row: 1;

      div.intro.light, div.photos.light, div.life-events.light, div.friends.light {
        border: 1px solid #edeff2;
        span {
          color: #050505;
          display: block;
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
          font-size: 20px;
          font-weight: bold;
          padding: 16px;
        }
      }

      div.intro.light {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px #cecfd2;
        min-height: 402px;
        margin: auto;
        width: 100%;

        div.featured-pics {
          height: 328px;
          width: 328px;
          margin: 0 0 16px 16px;

          div.featured-row-1-3, div.featured-row-2-3, div.featured-row-3-3 {
            display: flex;
            margin: 0 0 3px 0;
            justify-content: space-between;

            div.pic-1-9, div.pic-2-9, div.pic-3-9, div.pic-4-9, div.pic-5-9, div.pic-6-9, div.pic-7-9, div.pic-8-9, div.pic-9-9 {
              background-color: #18191a;
              height: 107px;
              width: 107px;
            }

            div.pic-1-9 {
              border-top-left-radius: 10px;
            }
            div.pic-3-9 {
              border-top-right-radius: 10px;
            }
            div.pic-7-9 {
              border-bottom-left-radius: 10px;
            }
            div.pic-9-9 {
              border-bottom-right-radius: 10px;
            }
          }
        }
      }

      div.photos.light {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px #cecfd2;
        min-height: 40px;
        // NEED THIS, DO NOT REMOVE
        // margin: 18px 0 0 0;
        width: 100%;

        div.photos {
          display: grid;
          grid-template-columns: 106px 106px 106px;
          grid-gap: 0 4px;
          height: 100%;
          margin: 0 0 16px 16px;
          padding: 0 0 18px 0;
          width: 328px;

          img.photos-pic {
            height: 106px;
            width: 106px;
            object-fit: cover;
          }

          img.photos-pic.pic-1-9 {
            border-top-left-radius: 10px;
          }
          img.photos-pic.pic-3-9 {
            border-top-right-radius: 10px;
          }
          img.photos-pic.pic-7-9 {
            border-bottom-left-radius: 10px;
          }
          img.photos-pic.pic-9-9 {
            border-bottom-right-radius: 10px;
          }

          img.pic-4-9.bottom-row {
            border-bottom-left-radius: 10px;
          }
          img.pic-6-9.bottom-row {
            border-bottom-right-radius: 10px;
          }
        }
      }

      div.friends.light {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px #cecfd2;
        min-height: 40px;
        margin: 18px 0 0 0;
        width: 100%;

        span.num-friends {
          color: #65676b;
          font-size: 18px;
          font-weight: normal;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 300;
          margin: -28px 0 0 0;
        }

        div.friends {
          display: grid;
          grid-template-columns: 102px 102px 102px;
          grid-gap: 2px 10px;
          padding: 0 0 20px 0;
          height: 100%;
          margin: 0 0 16px 16px;
          width: 328px;

          img.pfp {
            border-radius: 10px;
            height: 102px;
            object-fit: cover;
            width: 102px;
          }

          span.friend-name {
            font-size: 14px;
            font-weight: normal;
            padding: 0;
            margin: 0;
            width: 102px;
            word-wrap: break-word;
          }

          div.friend-1-9, div.friend-2-9, div.friend-3-9, div.friend-4-9, div.friend-5-9, div.friend-6-9, div.friend-7-9, div.friend-8-9, div.friend-9-9 {
            border-radius: 10px;
            height: 120px;
            width: 102px;
          }
        }
      }

      div.life-events.light {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px #cecfd2;
        height: 316px;
        margin: 18px 0 0 0;
        width: 100%;
      }
    }

    div.main-right {
      color: #0c0c0c;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      grid-column: 1;
      grid-row: 1;
      height: 100%;
      right: 0;
      position: relative;
      left: 376px;
      width: 500px;

      div.settings {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px #cecfd2;
        height: 96px;
        margin: 18px 0 0 0;
        width: 100%;

        div.settings-top {
          border-bottom: 1px solid #d2d4d8;
          display: flex;
          height: 54px;
          justify-content: space-between;
          position: relative;

          span.posts {
            display: block;
            font-size: 20px;
            font-weight: bold;
            margin: 14px 0 0 14px;
          }

          div.icons {
            display: flex;
            margin: 10px 0 0 0;

            div.sliders-h-container.light {
              background-color: #e4e6ea;
              border-radius: 6px;
              height: 36px;
              width: 90px;

              .fa-sliders-h {
                font-size: 16px;
                margin: 0 0 0 12px;
              }
  
              span {
                display: inline-block;
                font-size: 15px;
                margin: 8px 0 0 6px;
              }
            }
  
            div.cog-container.light {
              background-color: #e4e6ea;
              border-radius: 6px;
              height: 36px;
              margin: 0 14px 0 8px;
              width: 146px;

              .fa-cog {
                font-size: 16px;
                margin: 0 0 0 12px;
              }
  
              span {
                display: inline-block;
                font-size: 15px;
                margin: 8px 0 0 6px;
              }
            }
  
            div.sliders-h-container.light:hover, div.cog-container.light:hover {
              background-color: #d8dade;
              cursor: pointer;
            }
          }
        }

        div.settings-bottom {
          display: flex;
          margin: 0 0 0 14px;
          
          div {
            border-radius: 6px;
            cursor: pointer;
            height: 32px;
            margin: 5px 0 0 0;
            width: 236px;

            span {
              display: inline-block;
              font-size: 15px;
              margin: 6px 0 0 4px;
            }

            .fa-list.light, .fa-th-large.light {
              margin: 0 0 0 70px;
            }
          }

          // KEEP FOR NOW!!!
          // div.list.light:focus, div.grid.light:focus {
          //   border-bottom: 3px solid #2e89ff;
          //   border-radius: 0;
          //   color: #2e89ff;
          // }
          // KEEP!!
          
          div.grid.light, div.list.light {
            color: #65676b;
            position: relative;
            bottom: -2px;
          }
          
          div.list.light {
            border-bottom: 3px solid #2e89ff;
            border-radius: 0;
            color: #2e89ff;
          }

          div.grid.light:hover {
            background-color: #3a3b3c;
          }
        }
      }
    }
  }
}

// wall post section
section.wall-post-container.light {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #cecfd2;
  height: 120px;
  width: 100%;

  div.top.light {
    border-bottom: 1px solid #d2d4d8;
    display: flex;
    justify-content: space-between;
    height: 50%;
    margin: auto;
    width: 470px;
    position: relative;

    img.thumbnail {
      border-radius: 100%;
      height: 40px;
      width: 40px;
      margin: 9px 0 9px 0;
      object-fit: cover;
    }

    button.wall-post.light {
      background-color: #f0f2f5;
      border: none;
      border-radius: 50px;
      color: #65676b;
      cursor: pointer;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-size: 18px;
      font-weight: 300;
      height: 40px;
      margin: 9px 0 9px 0;
      text-align: left;
      width: 420px;

      span {
        padding: 0 0 0 8px;
      }
    }

    button.wall-post.light:hover {
      background-color: #e4e6e9;
    }
  }

  div.bottom.light {
    height: 50%;
    display: flex;
    height: 50%;
    margin: 10px 0 0 15px;
    width: 470px;
    position: relative;

    div:hover {
      background-color: #f2f2f2;
    }
    
    div {
      border-radius: 8px;
      color: #65676b;
      cursor: pointer;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-size: 15px;
      height: 36px;
      position: relative;
      width: 156px;
      display: flex;
      justify-content: center;

      .fa-video {
        color: #f12848;
        font-size: 20px;
      }

      .fa-images {
        color: #44bd62;
        font-size: 20px;
      }

      .fa-font-awesome-flag {
        color: #39b0d5;
        font-size: 20px;
      }

      .fa-video, .fa-images, .fa-font-awesome-flag, .fa-user-tag, span, .fa-laugh {
        position: relative;
        top: 8px;
      }

      .fa-user-tag {
        color:	#1a76f2;
        font-size: 18px;
      }

      .fa-laugh {
        color: #f8ba27;
        font-size: 20px;
      }

      span {
        margin: 0 0 0 6px;
      }
    }
  }
}

//post_index_item
ul.wall-posts {
  margin: 18px 0 0 0;

  li.each-post.light {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #cecfd2;
    margin: 18px 0 0 0;
    min-height: 196px;
    width: 100%;

    div.top-container.light {
      border-bottom: 1px solid #ced0d4;
      margin: auto;
      min-height: 100px;
      width: 470px;
      position: relative;

      div.user-info {
        display: flex;
        height: 40px;
        position: relative;
        top: 14px;

        img.thumbnail {
          border-radius: 100%;
          height: 40px;
          width: 40px;
          margin: 0 10px 0 0;
          object-fit: cover;
        }
  
        div {
          span.pname {
            color: #050505;
            font-size: 15px;
          }

          span.pname:hover {
            text-decoration: underline;
          }
          
          div.post-time {
            color: #717477;
            
            span.time {
              font-size: 13px;
            }
  
            .fa-user-friends.light {
              font-size: 11px;
              margin: 0 0 0 4px;
            }
          }
        }

        button.ellipsis-container.light {
          border: none;
          background-color: #ffffff;
          height: 34px;
          width: 34px;
          border-radius: 100%;
          position: relative;
          left: 384px;
          top: -34px;

          .fa-ellipsis-h {
            color: #5a626b;
            font-size: 18px;
            position: absolute;
            top: 8px;
            left: 8px;
          }
        }

        button.ellipsis-container.light:hover {
          background-color: #f2f2f2;
          cursor: pointer;
        }
      }

      div.body {
        color: #050505;
        font-size: 24px;
        min-height: 40px;
        position: relative;
        white-space: pre-wrap;

        p {
          margin: 26px 0 16px 0;
          overflow-wrap: break-word;
          height: 100%;
          white-space: pre-wrap;
        }
      }

      div.post-photo-div {

        img.post-photo {
          margin: 0 0 -4px -15px;
          object-fit: cover;
          width: 500px;
        }
      }
    }

    div.post-interaction.light {
      border-bottom: 1px solid #ced0d4;
      color: #ced0d4;
      display: flex;
      margin: auto;
      height: 40px;
      width: 470px;
      position: relative;

      div.like.light:hover, div.comment.light:hover, div.share.light:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }
      
      div.like.light, div.comment.light, div.share.light {
        border-radius: 4px;
        font-size: 18px;
        margin: 4px 0 0 0;
        height: 32px;
        width: 156px;
        position: relative;

        .fa-thumbs-up.light, .fa-comment.light, .fa-share-square.light {
          color: #5f6771;
          padding: 0 6px 0 0;
        }

        span {
          color: #5f6771;
          font-size: 15px;
          position: relative;
          top: 4px;
        }

        span.like {
          left: 50px;
        }

        span.comment {
          left: 30px;
        }

        span.share {
          left: 44px;
        }
      }

    }

    div.post-comment.light {
      min-height: 50px;

      ul.comments-index.light {

        li.each-com-container.light {
          display: flex;
          margin: auto;
          min-height: 74px;
          width: 470px;
  
          img.c-thumb {
            height: 32px;
            width: 32px;
            border-radius: 100%;
            margin: 10px 8px 0 0;
            position: relative;
            top: 2px;
            object-fit: cover;
          }
  
          div.each-com {
            background-color: #f0f2f5;
            border-radius: 20px;
            color: #090909;
            height: 50px;
            margin: 8px 0 0 0;
            min-width: 100px;
            position: relative;
            
            span.commenter {
              color: #202020;
              font-size: 13px;
              display: block;
              margin: 6px 12px 0 12px;
            }

            span.commenter:hover {
              text-decoration: underline;
              cursor: pointer;
            }

            p.actual-com {
              line-height: 1;
              display: block;
              font-size: 14px;
              margin: 2px 12px 0 12px;
            }

            div.like-reply {
              display: block;
              color: #65676b;
              font-size: 10px;
              position: relative;
              bottom: -12px;
              left: 12px;
  
              span.like-reply {
                font-weight: bold;
              }
              span.like-reply:hover {
                text-decoration: underline;
                cursor: pointer;
              }
  
              span {
                color: #727377;
                font-size: 12px;
                padding: 0 2px;
              }
            }
          }
        }
      }

      
      div.comment {
        display: flex;
        margin: auto;
        padding: 8px 0;
        width: 470px;

        img.thumbnail {
          height: 32px;
          width: 32px;
          border-radius: 100%;
          margin: 0 8px 0 0;
          position: relative;
          top: 2px;
          object-fit: cover;
        }

        form.comment.light {
          position: relative;
          

          input.comment {
            background-color: #f0f2f5;
            border: none;
            border-radius: 50px;
            color: #060606;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            font-size: 15px;
            min-height: 16px;
            padding: 0 0 0 14px;
            width: 420px;
            overflow: auto;
          }

          input.comment::placeholder {
            color: #65676b;
            font-size: 15px;
          }

          div.icons {
            position: absolute;
            top: 8px;
            left: 314px;

            .fa-smile.light, .fa-image.light, .fa-film.light, .fa-github-alt.light {
              color: #626973;
              margin: 0 6px;
            }
          }
        }
      }
    }
  }
}


// POST-DROPDOWN
div.post-dropdown.light {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: -2px 2px 4px #e0e2e5;
  height: 332px;
  width: 344px;
  position: absolute;
  z-index: 1;
  right: 2px;
  top: 40px;

  div.pdd-1-3.light {
    height: 62px;
    width: 100px;

    div.save-post, div.hide-timeline {
      text-align: left;
      border-radius: 4px;
      height: 45px;
      width: 330px;
      margin: 6px 0 0 6px;
    }

    div {
      display: flex;

      .fa-bookmark.light, .fa-edit.light, .fa-user-circle.light, .fa-trash-alt.light, .fa-bell-slash.light, .fa-calendar-alt.light, .fa-times-circle.light {
        color:	#606973;
        font-size: 20px;
        margin: 8px 0 0 10px;
        position: relative;
      }

      .fa-bookmark.light {
        margin: 8px 0 0 11px;
      }

      .fa-bell-slash.light, .fa-edit.light {
        font-size: 18px;
      }

      .fa-trash-alt.light {
        left: 1px;
      }

      .fa-calendar-alt.light {
        left: 2px;
      }
      
      div.pdd-text {
        color: #070707;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin: 4px 0 0 16px;

        span.pdd-t2 {
          color: 	#64676b;
          font-size: 12px;
          margin: 4px 0 0 0;
        }
        
      }

      div.pdd-text2 {
        color: #070707;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin: 4px 0 0 12px;

        span.pdd-t2 {
          color: 	#64676b;
          font-size: 12px;
          margin: 4px 0 0 0;
        }
      }
    }

    div.save-post {
        div.pdd-text {
          margin: 4px 0 0 17px;
        }
      }

    div.edit-post, div.edit-audience {
      div.pdd-text {
        margin: 4px 0 0 13px;
      }
    }

    div.turn-off-nots {
      div.pdd-text {
        margin: 4px 0 0 10px;
      }
    }

    div.edit-post, div.edit-audience, div.delete-post, div.turn-off-nots, div.change-date {
      border-radius: 4px;
      height: 36px;
      width: 330px;
      margin: 6px 0 0 6px;

      span {
        padding: 5px 0 0 0;
      }
    }

    div.save-post:hover, div.edit-post:hover, div.edit-audience:hover, div.delete-post:hover, div.turn-off-nots:hover, div.change-date:hover, div.hide-timeline:hover {
      background-color: #f2f2f2;
      cursor: pointer;
    }
  }

  div.pdd-divider {
    border-top: 1px solid #d7d8dc;
    margin: 6px 0 6px 15px;
    width: 314px;
  }

  div.pdd-1-3.light:before, div.pdd-1-3.light:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 10px solid #ffffff;
    border-color: transparent transparent #ffffff;
    right: 4px;
    top: -20px;
  }

  div.pdd-1-3.light:before {
    margin-top: -2px;
    border-color: transparent transparent #dfdfdf;
  }
}

button.save-bio.light:disabled {
 background-color: #e4e6ea!important;
 color: #bcc0c4!important;
}

button:disabled {
 color: #bcc0c4!important;
}
button:disabled:hover {
 cursor: not-allowed!important;
}

#file {
  display: none;
}
